<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>OGC PAWN | NEW RELAY</title>

    <meta name="description" content="PAWN OCP RELAY EDIT">
    <meta name="author" content="LAV0Y">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Create New Relay Function
					<div>
						<h4>OGC - PAWN INTERFACE</h4>
					</div>
				</h1>
			</div>
			<blockquote>
				<p>
					Please Enter the Following Information to Create a New Function
				</p>
			</blockquote>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<table class="table table-responsive">
				<thead>
					<tr>
						<th>
							NAME
						</th>
						<th>
							BCM
						</th>
						<th>
							MODE
						</th>
						<th>
							RELAY
						</th>
						<th>
							NOTIFY
						</th>
						<th>
							MESSAGE
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="active">
						<td>
							<div class="form-group">
								<input type="text" class="form-control" id="exampleInputText1">
							</div>
						</td>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" id="exampleInputText1">
							</div>
						</td>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" id="exampleInputText1">
							</div>
						</td>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" id="exampleInputText1">
							</div>
						</td>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" id="exampleInputText1">
							</div>
						</td>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" id="exampleInputText1">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="col-md-6">
					<h3>
						 
					</h3>
						<div class="row">
							<div class="col-md-8">
								 
								<button type="button" class="btn btn-block btn-success">
									Submit Relay Function
								</button>
						</div>
				</div>
			

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>